#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45em;
}

#container div {
    width: 40%; 
}

#container div:first-child {
    border-right: 2px solid;
}

textarea {
    min-height: 30em;
    min-width: 40em;
    padding: 1em;
}